<div class="col-lg-6 col-12 mx-auto my-4">
  <app-flight-card [flight]="selectedFlight"></app-flight-card>
</div>
<div class="card col-lg-6 col-12 mx-auto">
  <div class="card-body">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="text-success">Detailed Path</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card p-2"
          *ngFor="
            let flightStop of selectedFlight.allJourney.flights[0].flightDTO
          "
        >
          <app-dto-stop [flightStop]="flightStop"></app-dto-stop>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
