<div class="col-lg-8 col-12 mx-auto my-4" *ngFor="let flight of selectedFlight.allJourney.flights">
  <div class="card text-success">
    <div class="card-body row text-center">
      <app-flight-path [singleFlight]="flight" [flightDates]="{ duration: selectedFlight.totalDuration,
      depDate: selectedFlight.deptDate ,
      arriveDate:selectedFlight.arrivalDate}"></app-flight-path>
      </div>
  </div>
</div>
<div class="card col-lg-8 col-12 mx-auto">
  <div class="card-body" *ngFor="let journy of selectedFlight.allJourney.flights , let i = index ">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="text-success">{{"JOURNY" | translate}} : {{i + 1}}</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card p-2 text-success"
          *ngFor="
            let flightStop of journy.flightDTO
          "
        >
          <app-dto-stop [flightStop]="flightStop"></app-dto-stop>
          <h6 class=" text-center">{{"FLIGHTNUM" | translate}} : {{flightStop.flightInfo.flightNumber}}</h6>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="col-12 col-lg-2 mx-auto my-4">
    
  <button type="button" class="btn btn-success">{{"CONFIRM" | translate}}</button>
  </div>
